{% extends "layout.html" %}

{% block content %}
<h1 class="mb-4">Add Flight</h1>

<div class="card mb-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Add Flight</button>
        </form>
    </div>
</div>
{% endblock %}